body {
    background-color: #f8f9fa; 
    font-size: 16px;
    color: #1a202c; 
    font-family: sans-serif;
    margin: 0;
}

header {

    background-color: #1e3a8a; 
    min-height: 4em;
    color: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
    text-align: center;
}
section{
    margin: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    border-radius: 18px;
    max-width: 100%;
    height: auto;
}